@media screen and (max-width: 1400px) {
  #profile {
    height: auto;
    margin-bottom: 2rem;
    padding: 80px 30px;
  }

  .profile-img {
    width: 250px;
    height: 320px;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  .profile-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile-right {
    padding-top: 20px;
  }

  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-text, .about-image {
    width: 100%;
  }

  .about-image img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 600px) {

  #hamburger-nav {
    z-index: 2;
    position: relative;
  }

  .menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    width: 300%;
    max-width: 300px; 
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 3;
  }

  .menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(45, 40, 62);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    white-space: nowrap; 
    overflow: visible; 
  }

  .menu-links.open {
    max-height: 300px;
  }

  .hamburger-icon {
    position: relative;
    z-index: 4;
  }

  #profile {
    height: auto;
    margin-bottom: 2rem;
    padding: 80px 30px;
  }

  .profile-img {
    width: 250px;
    height: 320px;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  .profile-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile-right {
    padding-top: 20px;
  }

  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-text, .about-image {
    width: 100%;
  }

  .about-image img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  #profile {
    padding: 60px 20px;
  }

  .profile-img {
    width: 200px;
    height: 260px;
  }

  .profile-right h1 {
    font-size: 2rem;
  }

  .profile-right h2 {
    font-size: 1.4rem;
  }

  .details {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .services {
    grid-template-columns: 1fr;
  }

  #about {
    padding: 50px 20px;
  }

  .about-text h2 {
    font-size: 1.6rem;
  }

  .about-text p {
    font-size: 0.95rem;
  }

  .cv-button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  #skills h2 {
    font-size: 1rem;
  }

  .skills-group {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }

  .skills-group h3 {
    font-size: 2rem;
  }

  .skills-group ul {
    padding-left: 20px;
  }

  .skills-group li {
    font-size: 1.5rem;
  }

  #works {
    padding: 60px 20px;
  }

  .works-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .work-photo {
    height: 200px; /* reduce height for smaller screens */

  }

  .large-photo {
    height: 300px; /* slightly larger than standard work-photo */
  }

  .title {
    font-size: 2rem;
  }

  .work-description {
    font-size: 0.9rem;
  }

  .github-button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }

  .visual-art-container {
    grid-template-columns: 1fr;
  }

  #contact {
    padding: 50px;
  }

  .contact-info p {
    font-size: 1rem;
  }

  .contact-icon {
    max-width: 20px;
  }
}
