/* style.css */
body {
  background-color: rgb(245, 235, 224);
  text-align: center;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* desktop-nav */
#desktop-nav {
  background-color: rgb(213, 189, 175);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 40 20px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

a {
  color: rgb(34, 34, 59);
  font-size: 1.5rem;
  text-decoration: none;
}

a:hover {
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
  text-decoration: none;
  text-decoration-color: white;
  transition: all 300ms ease-in-out;
}

a:hover {
  color: white;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: white;
}

.logo img {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.logo:hover {
  cursor: default;
}

/* Hamburger Menu */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
  margin-right: 10px;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: rgb(45,40,62);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(45,40,62);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

#loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  display: flex;
  align-items: center;
}

.loader-letter {
  font-size: 24px;
  font-weight: bold;
  margin-right: 5px;
  opacity: 0;
  visibility: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.loader-letter:nth-child(1) {
  animation: fadeIn 0.5s ease forwards 0.5s;
}

.loader-letter:nth-child(2) {
  animation: fadeIn 0.5s ease forwards 1s;
}

.loader-letter:nth-child(3) {
  animation: fadeIn 0.5s ease forwards 1.5s;
}

.loader-letter:nth-child(4) {
  animation: fadeIn 0.5s ease forwards 2s;
}

.loader-letter:nth-child(5) {
  animation: fadeIn 0.5s ease forwards 2.5s;
}

.loader-letter:nth-child(6) {
  animation: fadeIn 0.5s ease forwards 3s;
}

/*PROFILE SECTION*/
#profile {
  background-color: rgb(213, 189, 175);
  padding: 100px;
  position: relative;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image-container {
  width: 35%;
  display: flex;
  justify-content: center;
  position: relative;
}

.profile-image {
  max-width: 100%;
  display: none;
}

.profile-image:first-child {
  display: block;
}

.profile-text {
  position: absolute;
  font-size: 9rem;
  font-family: 'Gill Sans';
  color: whitesmoke;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.profile-text:first-child {
  left: -65%;
  padding-right: 50%;
}

.profile-text:last-child {
  right: -90%;
  padding-left: 50%;
}

.profile-text.fade-out {
  opacity: 0;
}

.profile-text.move-right {
  transform: translateX(100%);
}

/*ABOUT SECTION*/
#about {
  background-color: rgb(245, 235, 224);
  padding: 20px;
}

.about-container {
display: flex;
justify-content: space-around;
align-items: flex-start;
}

.about-image {
width: 45%;
margin-bottom: 20px; 
background-color: #e74c3c;
}

.left-image {
max-width: 100%;
border-radius: 10%;
width: 70%;
}

.about-description {
width: 40%;
color: black;
margin-right: 20px;
margin-left: 20px;
}

.about-photos {
width: 45%; 
display: flex;
flex-direction: column; 
align-items: center; 
}

.photo-gallery {
display: flex;
flex-wrap: wrap; 
justify-content: space-between;
margin-bottom: 10px;
}

.gallery-image {
max-width: 90%;
border-radius: 10%;
margin-bottom: 10px; 
width: 100%;

}

.instagram-link {
font-size: 25px;
background: linear-gradient(90deg, #ff8a00, #e52e71); 
background-clip: text;
-webkit-background-clip: text;
color: transparent;
display: inline-block;
transition: background-position 0.5s;
}

.instagram-link:hover {
background-position: 100% 0;
color: black;
}

.download-cv {
  padding: 10px;
  background-color: #e74c3c; 
  color: #fff;
  border: none;
  border-radius: 20px;
}

/*SKILLS SECTION*/
#skills {
  background-color: rgb(213, 189, 175);
}

#skills h2 {
  text-align: center;
  color: black;
  font-size: 3rem;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills-group {
  flex: 0 0 45%;
}

.skills-group h3 {
  color: #555;
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.skills-group ul {
  list-style-type: none;
  padding: 0;
}

.skills-group li {
  margin-bottom: 5px;
  display: block; 
}

.c {
  font-family: 'Arial', sans-serif;
  font-size: 3.2rem;
}

.cpp {
  font-family: 'Times New Roman', serif;
  font-size: 2.4rem;
}

.python {
  font-family: 'Courier New', monospace;
  font-size: 2.3rem;
}

.html {
  font-family: Cambria, Cochin, serif;
  font-size: 5.5rem;
}

.css {
  font-family: 'Georgia', serif;
  font-size: 4.1rem;
}

.javascript {
  font-family: cursive;
  font-size: 3.8rem;
}

.animate {
  font-family: 'Franklin Gothic Medium',  sans-serif;
  font-size: 4.2rem;
}

.illustrator {
  font-family: 'Courier New', monospace;
  font-size: 3.4rem;
}

.photoshop {
  font-family: 'Times New Roman', serif;
  font-size: 6.3rem;
}

.photoshop, .python, .javascript {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(30, end) infinite, blink-caret 0.5s step-end infinite;
}

.c, .illustrator, .css {
  display: inline-block;
  animation: bounce 1s infinite;
}

.cpp, .animate, .html {
  animation: colorChange 3s infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-right: 1px solid black; }
  50% { border-right: 1px solid transparent; }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@keyframes colorChange {
  0% { color: #7209B7; }
  50% { color: #7CB518; }
  100% { color: #F72585; }
}


/*WORKS SECTION*/
#works {
  background-color: rgb(214, 204, 194);
  padding: 100px;
}

.title {
  color: black;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.works-container {
  display: flex;
  justify-content: space-around; 
  align-items: flex-start;
  flex-wrap: wrap;
}

.work-container {
  width: calc(25% - 20px); 
  margin: 10px;
  text-align: center;
}

.work-photo {
  max-width: 100%;
  margin-bottom: 10px;
}

.work-description {
  font-size: 1.2rem;
  color: black;
  margin-bottom: 10px;
}

.github-button {
  text-decoration: none;
  background-color: rgb(201, 173, 167);
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  display: block;
  margin-top: auto;
}

.github-button:hover {
  background-color: rgb(85, 85, 85);
}

/*CONTACT SECTION*/

#contact {
  padding: 140px;
}

.title {
  color: rgb(85, 85, 85);
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.contact-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-info p {
  margin: 0;
  margin-left: 20px;
  font-size: 1.2rem;
  color: gray;
}

.contact-icon {
  max-width: 30px;
}


/* FOOTER SECTION */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 26vh;
  }
  
  .footer-nav {
  text-align: center;
  margin: 1rem 0;
  }
  
  .footer-nav ul {
  list-style: none;
  padding: 0;
  }
  
  .footer-nav li {
  display: inline;
  margin: 0 10px;
  }
  
  .footer-nav a {
  text-decoration: none;
  color: rgb(209, 215, 224);
  font-size: 1.5rem;
  transition: color 0.3s;
  }
  
  .footer-nav a:hover {
  color: white;
  }
  
