/* style.css */
body {
  background-color: rgb(255, 205, 178);
  text-align: center;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* desktop-nav */
#desktop-nav {
  background-color: rgb(45, 40, 62);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 40 20px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

a {
  color: rgb(209, 215, 224);
  font-size: 1.5rem;
  text-decoration: none;
}

a:hover {
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
  text-decoration: none;
  text-decoration-color: white;
  transition: all 300ms ease-in-out;
}

a:hover {
  color: white;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: white;
}

.logo img {
  width: 70px;
  height: 70px;
  cursor: pointer;
  margin-left: 2rem;
}

.logo:hover {
  cursor: default;
}

/* Hamburger Menu */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
  margin-right: 10px;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: rgb(45,40,62);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(45,40,62);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

#loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
}

.loader {
  border: 8px solid black; 
  border-radius: 50%;
  border-top: 8px solid #ffffff; 
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*PROFILE SECTION*/
#profile {
  background-color: rgb(181, 131, 141);
  padding: 80px;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image-container {
  width: 30%;
  display: flex;
  justify-content: center;
  position: relative;
}

.profile-image {
  max-width: 100%;
  border-radius: 10%;
  display: none;
}

.profile-image:first-child {
  display: block;
}

.profile-text {
  position: absolute;
  font-size: 8rem;
  font-family: Georgia;
  font-weight: bold;
  font-style: unset;
  color: whitesmoke;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  overflow: hidden;
}

.profile-text:first-child {
  left: -35%;
  padding-right: 50%;
}

.profile-text:last-child {
  right: -50%;
  padding-left: 50%;
}


/*ABOUT SECTION*/
#about {
  padding: 140px;
}

.about-container {
display: flex;
justify-content: space-around;
align-items: flex-start;
}

.about-image {
width: 45%;
margin-bottom: 20px; 
}

.left-image {
max-width: 100%;
border-radius: 10%;
width: 100%;
}

.about-description {
width: 45%;
color: black;
}

.about-photos {
width: 45%; 
display: flex;
flex-direction: column; 
align-items: center; 
}

.photo-gallery {
display: flex;
flex-wrap: wrap; 
justify-content: space-between;
margin-bottom: 10px;
}

.gallery-image {
max-width: 100%;
border-radius: 10%;
margin-bottom: 10px; 
width: 100%;

}

.instagram-link {
font-size: 25px;
background: linear-gradient(90deg, #ff8a00, #e52e71); 
background-clip: text;
-webkit-background-clip: text;
color: transparent;
display: inline-block;
transition: background-position 0.5s;
}

.instagram-link:hover {
background-position: 100% 0;
color: black;
}

/*SKILLS SECTION*/
#skills {
  background-color: rgb(255, 205, 178);
}

#skills h2 {
  text-align: center;
  color: black;
  font-size: 3rem;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills-group {
  flex: 0 0 45%;
  margin: 1px;
}

.skills-group h3 {
  color: #555;
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.skills-group ul {
  list-style-type: none;
  padding: 0;
}

.skills-group li {
  margin-bottom: 10px;
}

.c {
  font-family: 'Arial', sans-serif;
  font-size: 3.2rem;
}

.cpp {
  font-family: 'Times New Roman', serif;
  font-size: 1.4rem;
}

.python {
  font-family: 'Courier New', monospace;
  font-size: 2.3rem;
}

.html {
  font-family: 'Verdana', sans-serif;
  font-style: oblique;
  font-size: 5.5rem;
}

.css {
  font-family: 'Georgia', serif;
  font-size: 4.1rem;
}

.javascript {
  font-family: 'Arial', sans-serif;
  font-size: 3.8rem;
}

.animate {
  font-family: 'Helvetica', sans-serif;
  font-size: 4.2rem;
}

.illustrator {
  font-family: 'Courier New', monospace;
  font-size: 3.4rem;
}

.photoshop {
  font-family: 'Times New Roman', serif;
  font-size: 6.3rem;
}


/*WORKS SECTION */

/*CONTACT SECTION*/

/* FOOTER SECTION */

footer {
  background-color: rgb(45, 40, 62);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 26vh;
  }
  
  .footer-nav {
  text-align: center;
  margin: 1rem 0;
  }
  
  .footer-nav ul {
  list-style: none;
  padding: 0;
  }
  
  .footer-nav li {
  display: inline;
  margin: 0 10px;
  }
  
  .footer-nav a {
  text-decoration: none;
  color: rgb(209, 215, 224);
  font-size: 1.5rem;
  transition: color 0.3s;
  }
  
  .footer-nav a:hover {
  color: white;
  }
  
